
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

@if (ViewBag.Products.Count > 0 && ViewBag.Products != null)
{
    <table class="table">
        <tr>
            <th>ID</th>
            <th>CategoryID</th>
            <th>Name</th>
        </tr>
        @foreach (Product product in ViewBag.Products)
        {
            <tr>
                <td>@(product.ID) </td>
                <td>@(product.Category.Name) </td>
                <td>@(product.Name)</td>
            </tr>
        }
    </table>
}
else
{
    <p>No Product Found!</p>
}
